{% extends "base.html" %}

{% block title %}商品詳細{% endblock %}

{% block content %}
<h1>商品詳細</h1>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>商品名</th>
            <th>価格</th>
            <th>カテゴリ</th>
            <th>画像</th>
            <th>商品詳細の説明</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ product.name }}</td>
            <td>{{ product.price }} 円</td>
            <td>{{ product.category }}</td>
            <td><img src="{{ product.img.url }}" style="width:100px height:auto;"></td>
            <td>{{ product.description }}</td>
        </tr>
    </tbody>
</table>

<a href="{% url 'list' %}">戻る</a>
{% endblock %}